<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <!-- Import pure.css -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
            integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href='path/to/your/ldbtn.min.css' />
        <!-- Scripts-->
        <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
        <script src="{{ url_for('static', filename='upload.js') }}"></script>
        <meta charset=utf-8 />
    </head>

    <body>
        <nav class="topnav">
            <form id="homeToHome" action="http://127.0.0.1:5000/" method="POST" enctype="multipart/form-data">
                <a onclick="document.getElementById('homeToHome').submit()">Home</a>
            </form>
            <form id="homeToAboutUs" action="http://127.0.0.1:5000/aboutus" method="POST" enctype="multipart/form-data">
                <a onclick="document.getElementById('homeToAboutUs').submit()">About Us</a>
            </form>
            <form id="homeToAboutTheModel" action="http://127.0.0.1:5000/aboutthemodel" method="POST"
                enctype="multipart/form-data">
                <a onclick="document.getElementById('homeToAboutTheModel').submit()">About the Models</a>
            </form>
        </nav>

        <section class="pure-g">
            <section class="pure-u-1-12">
                <section class="logoLeft">
                    <img id="cancerLogo" src="/static/logo.png" alt="logo-removebg-preview">
                </section>
            </section>
            <section class="pure-u-11-12">
                <section class="pure-u-5-6">
                    <header id="title">Breast Cancer Diagnosis based on Histology Image</header>
                </section>
                <section class="logoRight">
                    <img  id="monashLogo"  src="/static/Monash_logo.png" alt="Monash_logo-removebg-preview">
                </section>
            </section>
        </section>

        <hr>

        <section class="page" style="text-align: center; margin-top: 5px;">
            <section class="pure-g">
                <section class="pure-u-1-1 ">
                    <header id="centreTitleMainAboutUs">About Us</header>
                </section>
                <section class="pure-u-1-1 ">
                    <h2 id="AboutUsText">We are a group of final-year computer science students majoring in data science
                        from Monash University Malaysia.
                        We are passionate individuals who enjoy building models to solve real-world problems. For our
                        final-year project, our team built this breast cancer classification model is hopes that it can
                        be used as a diagnostic tool for breast cancer based on breast histology images.</h2>

                </section>
            </section>
        </section>

        <section class="page" style="text-align: center; margin-top: 5px;">
            <section class="pure-g">
                <section class="pure-u-1-3">
                    <img id="your-image" src="/static/zolyn_casual.jpeg" alt="image uploaded" width="270" height="270">
                    <h1 style = "font-weight: bolder;">Project Manager</h1>
                    <h1>Zolyn Lang</h1>
                </section>
                <section class="pure-u-1-3">
                    <img id="your-image" src="/static/bryan.jpg" alt="image uploaded" width="270" height="270">
                    <h1 style = "font-weight: bolder;">Technical Lead</h1>
                    <h1>Bryan Chow</h1>
                </section>
                <section class="pure-u-1-3">
                    <img id="your-image" src="/static/Vanessa.jpg" alt="image uploaded" width="270" height="270">
                    <h1 style = "font-weight: bolder;">Quality Assurance</h1>
                    <h1>Vanessa Khoo</h1>
                </section>
            </section>
        </section>
    </body>
</html>